* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.logo {
  background-image: url("../Assets/18960.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo-image {
  width: 70px;
  height: 40px;
  margin: 12px 25px;
}

.burger-menu {
  width: 29px;
  height: 16px;
  margin: 0 25px;
}

#menu {
  display: none;
  align-items: center;
  justify-content: center;
  background-color: #efefef;
}

#menu ul li {
  margin: 8px 0;
  margin-bottom: 1px solid #000;
}

#menu ul li a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #557187;
  font-weight: bold;
  font-size: 14px;
}

.main-image_image {
  width: 100%;
  height: 140px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.servicos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 100%;
}

.auditorias {
  background-image: url("../Assets/group-of-diverse-people-having-business-meeting.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.consultorias {
  background-image: url("../Assets/workplace-results-professional-report-accounting-during.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.treinamentos {
  background-image: url("../Assets/business-people-shaking-hands-together.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.servicos_title {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  text-shadow: black 0.1em 0.1em 0.2em;
  margin-bottom: 22px;
}

.btn-mais {
  color: #fff;
  background-color: #2278b1;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 9px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 18px 8px;
  background-color: #2278b1;
}

.socialMedia p {
  font-weight: bold;
  color: #fff;
}

.socialMedia ul {
  display: flex;
  flex-direction: row;
  margin-top: 14px;
}

.socialMedia ul li {
  margin: 0 8px;
}

.socialMedia ul li a img {
  width: 40px;
  height: 40px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 16px 24px;
}

.contact h2 {
  font-weight: bold;
  color: #2278b1;
  font-size: 3vh;
  margin-bottom: 8px;
}

.contact form label {
  color: #557187;
  font-size: 3vh;
  margin-top: 6px;
}
.contact form {
  width: 100%;
}

.contact form input,
textarea {
  width: 100%;
  margin: 6px 0;
  border-radius: 8px;
  border: solid 1px #557187;
}

.contact form input {
  height: 26px;
}

.btn-submit {
  width: 100%;
  height: 26px;
  border-radius: 8px;
  background-color: #2278b1;
  color: #fff;
  font-weight: bold;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  background-color: #2278b1;
}

footer h3 {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: bold;
}

.message-img {
  display: none;
}

@media (min-width: 720px) {
  .logo {
    background-image: url("../Assets/18960.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 100px;
    display: flex;
    align-items: center;
  }

  .logo-image {
    width: 125px;
    height: 70px;
    margin-left: 50px;
  }

  .burger-menu {
    display: none;
  }

  #menu {
    display: flex;
    height: 40px;
  }

  #menu ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  #menu ul li {
    margin: 0 64px;
  }

  .main-image_image {
    width: 100%;
    height: 100%;
  }

  .content {
    flex-direction: row;
  }

  .servicos {
    height: 180px;
  }

  .contact {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 16px 0;
  }

  .contact .form {
    width: 40%;
  }

  .btn-submit {
    width: 30%;
  }

  .message-img {
    display: flex;
    width: 500px;
    height: 330px;
    margin: 12px 22px;
  }

  .message-img img {
    border-radius: 12px;
  }
}
